.page-container {
  margin: 0 auto;
  max-width: 830px;
}

.logo-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  & img {
    width: 100%;
    height: auto;
    @media (screen and max-width: 768px) {
      width: 100%;
      max-width: 320px;
    }
    @media (screen and min-width: 680px) {
      max-width: 500px;
    }
    @media (screen and min-width: 1024px) {
      max-width: 743px;
    }
  }
}

.header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.cards {
  & > :not(:last-child) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  & > :last-child {
    margin-top: 15px;
  }
}

.dwn-logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
  row-gap: 30px;
}

.dwn-logo {
  height: 250px;
  width: auto;
  padding: 18px;
  border-radius: 14px;
  background: var(--black-90);
}