.root {
  margin-top: 80px;
}

.label {
  color: var(--white-text, #D7D8DB);
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  @media (min-width: 768px) {
    text-align: start;
  }
}

.links-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 25px;
  @media (min-width: 768px) {
    margin-top: 30px;
    flex-direction: row;
    row-gap: 15px;
  }
}

.link {
  font-size: 20px;
  text-align: center;
}