.root {
  margin-top: 1px;
  & ::before {
    background-color: var(--gray-80);
  }
  & ::after {
    background-color: var(--black-70);
  }
}

.wrapper {
  border-bottom: 1px solid transparent;
  padding: 20px 30px;
}
