.item {
  list-style: none;
  border-bottom: 1px solid var(--black-70);
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--main-text-color);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 30px 0;
  text-align: start;
  &:hover {
    .control {
      background-color: rgba(255, 255, 255, 0.12);
    }
  }
}

.active {

}

.control {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  padding: 2px;
  border-radius: 8px;
}

.content-wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease .2s;
}

.content {
  max-width: 860px;
  font-size: 18px;
  padding-bottom: 30px;
  p span a { font-size: 18px;}
}

.open {
  height: auto;
}