.root {
  color: var(--gray-10);
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid var(--gray-10);
  border-radius: 16px;
  padding: 16px 24px;
  cursor: pointer;
}