.root {

}

.root a {
  font-weight: 400;
  font-size: 16px;
  color: #EAEAEC;
  text-align: center;
  border-radius: 16px;
  text-decoration: none;
  transition: background-color .2s ease;
  &:hover {
    color: var(--yellow-50);
  }
}