.root {
  display: block;
  font-size: 17px;
  @media (min-width: 768px) {
    font-size: 20px;
  }

  p {
    font-size: inherit;
    color: var(--gray-10);
  }

  blockquote {
    font-size: inherit;
  }

  & img {
    max-width: 100%;
    height: auto;
    margin: 40px auto;
    display: block;
  }

  & ul {
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  & li {
    list-style: disc;
  }

  & h1 h2, h3 {
    line-height: 1.2;
  }

  & h1 {
    font-weight: 700;
    margin-bottom: 40px;
  }

  & h2 {
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  & h3 {
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  & hr {
    border-top: 1px solid var(--black-70);
  }
}