.root {
  margin-top: 35px;
}

.labelsContainer {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  & svg {
    height: auto;
    max-width: 446px;
    width: 100%;
  }
}

.text {
  font-size: 20px;
  text-align: center;
  color: var(--gray-20);
}