.content {
  //background-color: var(--black-90);
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.body {
  padding: 0;
  & img {
    max-height: 80vh;
  }
}

.inner {
  //top: 0;
  //padding: 15vh 0 0;
  //@media (min-width: 680px) {
  //  padding-top: 15vh;
  //  top: 0
  //}

  padding: 0;

}

.overlay::before {
  line-height: 26px;
  font-size: 26px;
  content: "\2715";
  position: absolute;
  color: var(--gray-10);
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon-button {
  margin-left: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 16px;
  transition: background-color .2s ease;
}